# IDE extensions
.vscode
*/*/.vscode
.vscode/*
.idea/*
*.iml

# node
node_module
.node_repl_history

# macOS
.DS_Store
*/.DS_Store
Sara George - apre week 2 major task.zip
Sara George - apre week 2 minor task.zip
Sara George - apre week 3 minor task.zip
apre/Sara George - apre week 3 major task.zip
